@media (max-width:1440px) {

    body .main {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 1423px;
        height: 1500px;
        background: #FFFFFF;
        margin: 0;
    }
}

/* @media(max-width:1199px) {}

@media(max-width:991px) {}

@media(max-width:767px) {} */

@media(max-width:540px) {
    body {
        width: 393px;
        height: 2128px;
    }

    body .main {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 393px;
        height: 2128px;
        background: #FFFFFF;
        margin: 0;
    }

    section div.form {
        position: absolute;
        width: 393px;
        height: 974px;
        left: 50%;
        top: 77px;
        transform: translate(-50%, 0);

        border: none;
    }

    .form>.form_header {
        position: absolute;
        width: 373px;
        height: 79px;
        left: 20px;
        top: 0px;

        border: none;
    }

    .form_header>.form_header_title {
        width: 335px;
    }

    .form_header>.form_header_description {
        position: absolute;
        width: 325px;
        height: 28px;
        left: 0px;
        bottom: 0px;
        margin: 0;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        /* identical to box height, or 175% */


        color: #1A1A1A;
    }

    .wrapper {
        position: absolute;
        top: 131px;
        left: 0px;
        width: 100%;
        height: 670px;

        justify-content: center;


        display: grid;
        grid-template-columns: 351px;
        grid-template-rows: repeat(7, 64px);
        grid-column-gap: 10px;
        grid-row-gap: 37px;
    }

    .input_name {
        grid-area: 1 / 1 / 2 / 2;
        width: 351px;
        height: 64px;
    }

    .input_position {
        grid-area: 2 / 1 / 3 / 2;
        width: 351px;
        height: 64px;
    }

    .select_institution {
        grid-area: 3 / 1 / 4 / 2;
        width: 351px;
        height: 64px;
    }

    .input_email {
        grid-area: 4 / 1 / 5 / 2;
        width: 351px;
        height: 64px;
    }

    .input_phone {
        grid-area: 5 / 1 / 6 / 2;
        width: 351px;
        height: 64px;
    }

    .select_med_prof {
        grid-area: 6 / 1 / 7 / 2;
        width: 351px;
        height: 64px;
    }

    .block_type_of_inquiry {
        grid-area: 7 / 1 / 8 / 2;
        width: 351px;
        height: 64px;
    }

    .type_of_inquiry {
        width: 351px;
        height: 64px;
    }

    .block_textarea {
        left: 20px;
        top: 842px;
        width: 353px;
        height: 338px;
        border: none;
    }

    .textarea {
        width: 353px;
        height: 338px;


        background: #FFFFFF;
        box-shadow: 0px 16px 32px rgba(202, 203, 210, 0.25);
        border-radius: 8px;
    }

    .send_button {
        width: 353px;
        height: 51px;
        left: 20px;
        top: 1231px;
    }

    #block_gmaps {

        width: 353px;
        height: 573px;
        left: 50%;
        top: 1422px;
        transform: translate(-50%, 0);

        border: none;
    }

    .block_info {
        top: 1455px;
        left: 50%;
        transform: translate(-50%, 0);

    }
}